.kursiv { font-style:italic; }
.mono { font-family:monospace; }
.fett {font-weight:bold}
.iframeSingle {
	width: 90%;
	height: 66%;
	border: none;
}
.iframeSingleSmall {
	width: 90%;
	height: 33%;
	border: none;
}
.iframe2by2 {
	width: 95%;
	height: 100%;
	border: none;
}