
table.noBoarders {
	border-width: 0px;
	border-spacing: 4px;
}

table.noBoarders th {
	border-width: 0px;
	padding: 4px;
	border-style: none;
}

table.noBoarders td {
	border-width: 0px;
	padding: 4px;
	border-style: none;
}

table.noFixed {
	table-layout: auto;
}

.welcome {
	font-size: 120%;
	text-align: center;
	padding: 20px;
}

.quickIntro {
	padding: 10px;
}

.quickIntroExample {
	overflow:auto;
	padding: 10px;
}

.nav {
	width: 20%;
	float: left;
}

.content {
	width: 80%;
	float: left;
}